<div id="about" class="about">
  <app-headline2></app-headline2>
  <app-footer [imageSrc]="'assets/img/nav_about.png'"></app-footer>
  <div class="about_container">
    <div class="about_section">
      <img src="assets/img/banner_about.png">
    </div>
    <div class="about_section">
      <h1>Information</h1>
      <h2>About me</h2>
      <span>I'm Marcel Herzog, a front-end developer currently learning at Developerakademie. I have a strong foundation in HTML, CSS, and JavaScript, and I'm experienced in Angular. With my passion for continuous learning and collaboration, I strive to create efficient and user-friendly web solutions. I am a dedicated self-learner, constantly seeking new challenges to refine my craft and deliver impactful web experiences.</span>
      <div class="profile_links">
        <b><a href="https://github.com/MarcelDragZ" target="_blank"><img class="social_media" src="assets/img/icon_github.png"></a></b>
       <b> <a href="https://www.linkedin.com/in/marcel-herzog-284722268/" target="_blank"><img class="social_media" src="assets/img/icon_linkedin.png"></a></b>
      </div>
    </div>
  </div>
</div>
