div {
  position: fixed;
  left: 100px;
  top: 0;
  right: 100px;
  height: 80px;
  z-index: 150;
  display: flex;
  justify-content: center;
  align-items: center;

}

 img {
  object-fit: contain;
  height: 45px;
}
