div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  color: white;
  position: absolute;
  left: 5vw;
  right: 25vw;
  top: -260px;
  h2 {
    color: rgb(222,46,44);
    margin-left: -30px;
  }
}

@media (max-width: 1100px) {
  div {
    left: 5vw;
    text-align: center;
  }
}

@media (max-width: 700px) {
  div {
    left: -2vw;
    text-align: center;
  }
}

@media (max-width: 550px) {
  div {
    left: 0vw;
    text-align: center;
  }
}

@media (max-width: 450px) {
  div {
    left: -20%;
    text-align: center;
  }
  p {
    width: 350px;
  }
}

@media (max-width: 410px) {
  div {
    left: -22%;
    text-align: center;
  }
}

@media (max-width: 380px) {
  div {
    left: -25%;
    text-align: center;
  }
}

@media (max-width: 360px) {
  div {
    left: -27%;
    text-align: center;
  }
}


@media (max-height: 800px) {
div {
  top: -170px;
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 13px;
  }
}
  }
