<app-sidebar2></app-sidebar2>
<div class="imprint">
  <h1>Data Privacy Policy</h1>
    <h2>Contact Information:</h2>
    <p>Name: Marcel Herzog</p>
    <p>Address: 69231 Rauenberg, Hauptstr. 15</p>
    <p>Postbox No: 1131</p>
    <p>Email: MarcelHe98@gmx.de</p>
    <p></p>
    <p>We take the protection of your personal data very seriously. In this privacy policy, we inform you about the data collected during your visit to our portfolio website and how it is used.</p>
    <h2>1. Collection of Data</h2>
    <p>When you visit our website, certain data is automatically collected and stored in log files, including your IP address, browser, operating system, and access time.</p>
    <h2>2. Use of Data</h2>
    <p>The collected data is used solely for statistical analysis and to improve our website. It will not be disclosed to third parties or linked to other data.</p>
    <h2>3. Cookies</h2>
    <p>Our website uses cookies to enhance the user experience. Cookies are small text files stored on your device. You can disable the use of cookies in your browser settings.</p>
    <h2>4. External Links</h2>
    <p>Our website contains links to external websites. We have no control over the content or privacy practices of these websites and assume no responsibility for them.</p>
    <h2>5. Your Rights</h2>
    <p>You have the right to request information about the data we store, and, if necessary, to correct, delete, or restrict its processing. Please contact us using the contact details provided in our imprint.</p>
    <h2>6. Changes to the Data Privacy Policy</h2>
    <p>We reserve the right to modify this privacy policy as needed. The current version will always be available on our website.</p>
    <p>Last updated: [Date of last update]</p>
</div>
