.skills {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  position: relative;
  display: flex;
}

.skills_container {
  position: absolute;
  left: 20vw;
  top: 10vh;
  bottom: 10vh;
  right: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    margin-top: -20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  .text_line {
    height: 2px;
    width: 55%;
    display: flex;
    margin-left: 50px;
    margin-bottom: 30px;
    background-color: rgb(174, 41, 40);
  }
  span {
    width: 70%;
    color: white;
  }
}

.skills_section {
  max-width: 52%;
  min-width: 52%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-right: 120px;
}

.skills_banner {
  margin-top: 150px;
  min-width: 800px;
  object-fit: cover;
  z-index: 0;
  filter: opacity(0.15);
}

.flair_image {
  position: absolute;
  right: -120px;
  bottom: -140px;
  width: 800px;
  z-index: -1;
}

.headline_programming_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;
  cursor: pointer;
  img {
    max-height: 50px;
    max-width: 50px;
  }
}

.read_more {
  font-size: 15px;
  margin-left: 8px;
  color: white;
}

.skill_icons {
  color: white;
  margin-bottom: 15px;
}

.d-none {
  display: none !important;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  :hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
  }
  .read_skill {
    font-size: 14px;
    margin-top: 5px;
  }
}

.skill_icons {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  animation: slideInSkill 0.5s ease-in;
  z-index: 1;
}

.red {
  width: 100px;
  padding: 5px;
  background-color: rgb(214, 40, 41);
}

@keyframes slideInSkill {
  0% {
    transform: scaleY(0.3);
    filter: opacity(0.3);
  }

  100% {
    transform: scaleY(1);

    filter: opacity(1);
  }
}

@media (max-width: 1100px) {
  .skills_container {
    flex-direction: column;
  }
  .skills_section {
    img {
      max-width: 350px;
    }
    span {
      width: 220px;
    }
  }
}

@media (max-width: 700px) {
  .skills_container {
    left: 19vw;
  }
  .headline_programming_section {
    margin-bottom: 10px;
    h1 {
      font-size: 23px;
      margin-left: 10px;
    }
  }
  .headline_programming_section {
    width: 320px;
  }
  .skill_icons {
    justify-content: center;
    gap: 5px;
    width: 340px;
  }
  .skill_icons {
    z-index: 1;
    margin-bottom: -250px;
  }
  .skills_banner {
    z-index: 0;
    margin-bottom: -250px;
    filter: opacity(0.1);
  }
}

@media (max-width: 550px) {
  .skills_container {
    left: 5vw;
  }
  .skills_banner {
    z-index: 0;
    margin-bottom: -250px;
    filter: opacity(0.07);
  }
  .skill_icons {
    margin-bottom: -250px;
  }
  .skill {
    width: 80px;
    height: 110px;
    img {
      width: 70px;
      height: 70px;
    }
  }
  .skill_icons {
    justify-content: center;
    gap: 5px;
    width: 330px;
  }
}


@media (max-height: 800px) {
  .skill {
    width: 75px;
    height: 110px;
    img {
      width: 60px;
      height: 60px;
    }
  }
  .read_skill {
    font-size: 13px !important;
  }
  }
