<div id="skills" class="skills">
  <app-headline1></app-headline1>
  <app-footer [imageSrc]="'assets/img/nav_skills.png'"></app-footer>

  <div class="skills_container">
    <div class="skills_section">
      <div (click)="changeView('frontend')" class="headline_programming_section">
        <div><h1>FRONTEND</h1></div>
        <div><img src="assets/img/arrow_right.png" /></div>
        <div class="read_more">Read more</div>
      </div>

      <div [class.d-none]="!scrollRange || !frontend" class="skill_icons">
        <div class="skill">
          <img src="assets/img/icon_HTML_red.png" />
          <div class="read_skill">HTML</div>
        </div>
        <div class="skill">
          <img src="assets/img/icon_CSS_red.png" />
          <div class="read_skill">CSS</div>
        </div>
        <div class="skill">
          <img src="assets/img/icon_Bootstrap_red.png" />
          <div class="read_skill">Bootstrap</div>
        </div>
        <div class="skill">
          <img src="assets/img/icon_JS_red.png" />
          <div class="read_skill">JavaScript</div>
        </div>
        <div class="skill">
          <img src="assets/img/icon_TS_red.png" />
          <div class="read_skill">TypeScript</div>
        </div>
        <div class="skill">
          <img src="assets/img/icon_Angular_red.png" />
          <div class="read_skill">Angular</div>
        </div>
        <div class="skill">
          <img src="assets/img/icon_Firebase_red.png" />
          <div class="read_skill">Firebase</div>
        </div>
        <div class="skill">
          <img src="assets/img/icon_Scrum_red.png" />
          <div class="read_skill">Scrum</div>
        </div>
        <div class="skill">
          <img src="assets/img/icon_GIT_red.png" />
          <div class="read_skill">GIT</div>
        </div>
        <div class="skill">
          <img src="assets/img/icon_WordPress_red.png" />
          <div class="read_skill">Word Press</div>
        </div>
      </div>

      <div class="text_line"></div>
      <div (click)="changeView('backend')" class="headline_programming_section">
        <div><h1>BACKEND</h1></div>
        <div><img src="assets/img/arrow_right.png" /></div>
        <div class="read_more">Read more</div>
      </div>
      <div [class.d-none]="!scrollRange || !backend" class="skill_icons red d-none">Yet to come</div>
      <div class="text_line"></div>
      <div (click)="changeView('fullstack')" class="headline_programming_section">
        <div><h1>FULLSTACK</h1></div>
        <div><img src="assets/img/arrow_right.png" /></div>
        <div class="read_more">Read more</div>
      </div>
      <div [class.d-none]="!scrollRange || !fullstack" class="skill_icons red d-none">Yet to come</div>
    </div>
    <app-headline3></app-headline3>
    <div class="skills_section">
      <img class="skills_banner mobile_view" src="assets/img/banner_skills.png" />
      <img class="flair_image" src="assets/img/light_home.png" />
    </div>
  </div>
</div>
