.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 15px;
  padding-top: 30px;
  padding-right: 15px;
  z-index: 50;
}

.menu_icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
}

.menu_burger {
  cursor: pointer;
  :hover {
filter: opacity(0.90);
  }
}

.menu_icon {
  width: 10px;
  height: 10px;
  &:hover {
    transition: all .2s ease-in;
    background-color: white;
    cursor: pointer;
  }
}

.menu {
  display: flex;
  align-items: center;
  height: 20px;
  color: white;
  cursor: pointer;
}

.background_add {
  transition: all .2s ease-in;
  background-color: white;
}

.menu_text {
  margin-left: 9px;
  animation: fadeIn 0.2s ease-in;
}

@keyframes fadeIn {
  0% {
    filter: opacity(0);
  }

  100% {
    filter: opacity(1);
  }
}

.responsive {
  display: flex;
}

.menu_footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  a {
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-top: 10px;
    &:hover {
      color: rgb(255, 59, 59);
    }
  }
}


@media (max-width: 550px) {
  .sidebarResponsive {
    right: 0;
    z-index: 150;
    background-color: rgba(19, 23, 27, 1);
  }

  .responsive {
    display: none;
  }
}
