<div id="home" class="home">
<!--   <app-footer [imageSrc]="'assets/img/nav_home.png'"></app-footer> -->
  <div class="home_container">
    <div class="home_section animation_left">
      <h1>Welcome</h1>
      <div class="text_line"></div>
      <h2>I am <br> Marcel Herzog <br> Frontend Developer</h2>
    </div>
    <div class="home_section animation_right">
      <img src="assets/img/banner_profile_pic.png">
      <img class="flair_image" src="assets/img/light_home.png">
    </div>
  </div>
</div>
