<div id="works" class="works">
<!--   <app-footer [imageSrc]="'assets/img/nav_work.png'"></app-footer> -->
  <div class="works_container">
    <div [class.scroll-height]="scrollHeight" class="works_section">
      <div (mouseenter)="hover('elpolloloco')" (mouseleave)="hoverEnd('elpolloloco')" class="work">
        <img src="assets/img/work_elpolloloco.png" alt="" />
        <div class="work_headline" *ngIf="!elpolloloco">
          <div>El Pollo Loco</div>
          <div>In El Pollo Loco, players help Pepe fight off chickens using a throwable glass bottle and the ability to jump on them. It's a unique and fun game for all ages.</div>
          <div class="programming_languages">#HTML #CSS #JavaScript</div>
        </div>



        <div class="work_test" *ngIf="elpolloloco">
          <div class="card" (click)="redirect('live_elpolloloco')">Live Test</div>
          <div class="card" (click)="redirect('github_elpolloloco')">Github</div>
        </div>



      </div>
      <div (mouseenter)="hover('join')" (mouseleave)="hoverEnd('join')" class="work">
        <img src="assets/img/work_join.png" alt="" />
        <div class="work_headline" *ngIf="!join">
          <div>Join</div>
          <div>Join is a Kanban software that simplifies project management, optimizes workflows, and boosts productivity. With customizable boards and automated workflows, teams can track progress and collaborate seamlessly.</div>
          <div class="programming_languages">#HTML #CSS #JavaScript</div>
        </div>



        <div class="work_test" *ngIf="join">
          <div class="card" (click)="redirect('live_join')">Live Test</div>
          <div class="card" (click)="redirect('github_join')">Github</div>
        </div>




      </div>
      <div (mouseenter)="hover('portfolio')" (mouseleave)="hoverEnd('portfolio')" class="work">
        <img src="assets/img/work_ringoffire.png" alt="" />
        <div class="work_headline" *ngIf="!portfolio">
          <div>RingOfFire</div>
          <div>Angular app for Ring of Fire card game: Multiplayer game with deck of cards, additional rules. UI displays game state, player actions, card animations. Real-time updates for interactive gameplay.</div>
          <div class="programming_languages">#Angular #TypeScript #Firebase</div>
        </div>




        <div class="work_test" *ngIf="portfolio">
          <div class="card" (click)="redirect('live_ringoffire')">Live Test</div>
          <div class="card" (click)="redirect('github_ringoffire')">Github</div>
        </div>




      </div>
      <img class="flair_image" src="assets/img/light_home.png">
    </div>

    <div class="headline3">
      <h4>See my</h4>
      <h2>My finished works</h2>
    </div>

  </div>
</div>
